body {
background-color:black;

color:white;
font-family: Audiowide;

overflow-x:hidden;
}
.main_color{
	color:#CE8751;
}

/* HEADER */
.header_image{
	background-image: url(../images/adventure-dark-field-37608.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 25% 100%;
	height: 100vh;
}
.header_main_text{
	text-align:right;
	margin-top: 70px;
	padding-right: 0px;
}
.header_main_text h1{
	font-size: 4.5rem;
}
.header_main_text h2{
	margin-top:60px;
}
/* TECHNOLOGIES */
.content_main_title{
	text-align: center;
	color: #ce8751;
	font-size: 2.5rem;
	margin-top: 30px;
}
.list_techo div{
	display: inline-block;
	border: 2px solid #ce8751;
	padding: 5px;
	margin-right: 3px;
	margin-top: 10px;
}

/* PROJECTS */
.row_project{
	height:355px;
	margin-bottom:90px;
}
.project_title{
	font-size:2.5rem;
}
.project_description{
	font-family: Monda;
	font-size: 1.2rem;
}
.btn_visit_site{
	border: 5px solid #ce8751;
	padding: 10px;
	cursor: pointer;
	font-size: 1.5rem;
	display: inline-block;
}
.btn_visit_site a{
	text-decoration: none;
	color: white;
}
.btn_visit_site:hover{
	background-color: #ce8751;
}
.btn_visit_site:hover a{
	color:black;
}


.project_image{
	background-size: contain;
	background-repeat: no-repeat;
	height: 430px;
}
.project_image_better_vote{
	background-image: url(../images/better_vote.png);
}
.project_image_tool_form{
	background-image: url(../images/outil_formulaire.png);
}
.project_image_reseau_boulot{
	background-image: url(../images/reseauBoulot.png);
}
.project_image_aster{
	background-image: url(../images/groupeAster.jpg);
	background-position: 50% 100%;
}
